# Gephi graph visualization

This notebook is used to generate Gephi representations of our graph, used in the report.

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import collections
import matplotlib.pyplot as plt
import json
import re
import networkx as nx
import seaborn as sns

In [2]:
adjacency =  np.load('data/final_project_adjacency_largest.npy')
G = nx.from_numpy_matrix(adjacency)

In [3]:
first_genres = pd.read_csv('data/first_genres_largest.csv')
first_genres.drop(columns = 'Unnamed: 0', inplace = True)
first_genres.head()

    index                                     title first_genre
0   19995                                    Avatar      Action
1     285  Pirates of the Caribbean: At World's End   Adventure
2  206647                                   Spectre      Action
3   49026                     The Dark Knight Rises      Action
4   49529                               John Carter      Action

In [4]:
nx.set_node_attributes(G, first_genres.title, 'label')
nx.set_node_attributes(G, first_genres.first_genre, 'genre')

In [5]:
nx.write_gexf(G, 'gephi/movies_graph_unn.gexf')

In [6]:
first_genres[first_genres['title'].str.contains("Harry")]

      index                                      title first_genre
8       767     Harry Potter and the Half-Blood Prince   Adventure
110     675  Harry Potter and the Order of the Phoenix   Adventure
111     674        Harry Potter and the Goblet of Fire   Adventure
186     673   Harry Potter and the Prisoner of Azkaban   Adventure
192     671   Harry Potter and the Philosopher's Stone   Adventure
267     672    Harry Potter and the Chamber of Secrets   Adventure
1775  25941                                Harry Brown    Thriller

In [7]:
selected_nodes = list(G.neighbors(111))
selected_nodes.append(111)

In [8]:
subG = G.subgraph(selected_nodes)

In [9]:
nx.write_gexf(subG, 'gephi/hp_graph_unn.gexf')